<a href="https://colab.research.google.com/github/POnibaba/Hello-World/blob/converting_url/url_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from urllib import request

In [3]:
file_url = r'https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [6]:
def download_file_information(url):
  # Open the url file
  fileOpen = request.urlopen(url)
  # read the file
  file_info = fileOpen.read()
  # convert the file into string
  file_info_str = str(file_info)
  # split lines into the files
  file_lines = file_info_str.split('\\n')

  # creating a new file to store information
  newfile = open('file.csv', "w")
  # store all information of the file we have read
  for info in file_lines:
    newfile.write(info + '\n')
  #close the file
  newfile.close()
#call the function
download_file_information(file_url)

In [8]:
import pandas as pd

In [10]:
data = pd.read_csv("file.csv")
data.head()

              b'record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]